name: MLOps NLP Pipeline CI  # Nom du workflow affiché dans l’onglet GitHub Actions

on:
  push:  # Déclenche le pipeline lors d’un push
    branches: [ develop, main ]  # Seulement si push sur develop ou main

jobs:  # Liste des jobs à exécuter

  lint:  # Job 1 : vérification qualité du code
    runs-on: ubuntu-latest  # Machine virtuelle Linux utilisée par GitHub

    steps:  # Étapes exécutées dans ce job
      - name: Checkout code  # Récupère le code du repository
        uses: actions/checkout@v4  # Action officielle pour cloner le repo

      - name: Setup Python  # Installer Python
        uses: actions/setup-python@v5  # Action officielle pour installer Python
        with:
          python-version: '3.10'  # Version de Python utilisée

      - name: Install dependencies  # Installer dépendances du projet
        run: |
          python -m pip install --upgrade pip  # Met à jour pip
          pip install -r requirements.txt  # Installe les librairies du projet
          pip install flake8  # Installe l’outil de linting

      - name: Run Lint  # Lancer l’analyse du code
        run: flake8 .  # Vérifie la qualité et style du code

  test:  # Job 2 : tests unitaires
    runs-on: ubuntu-latest  # Utilise une VM Ubuntu
    needs: lint  # Ce job s’exécute seulement si lint réussit

    steps:
      - name: Checkout code  # Récupère le code
        uses: actions/checkout@v4  # Clone le repository

      - name: Setup Python  # Installer Python
        uses: actions/setup-python@v5  # Configure Python
        with:
          python-version: '3.10'  # Version Python

      - name: Install dependencies  # Installer dépendances
        run: |
          python -m pip install --upgrade pip  # Update pip
          pip install -r requirements.txt  # Installe les dépendances
          pip install pytest  # Installe pytest pour les tests

      - name: Run unit tests  # Exécuter les tests
        run: PYTHONPATH=. pytest tests/

  build-docker: 
    runs-on: ubuntu-latest  
    needs: test 

    steps:
      - name: Checkout code 
        uses: actions/checkout@v4  

      - name: Build Docker Image 
        run: |
          docker build -t nlp-ticket-classifier . 
            
